body {
    background: #fafafa;
    color: #333333;
}
h1,h2,h3,h4{
    color: #444444;
}
ul{
    margin: 0;
}
.bg-steel {
    background-color: #E76F51;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    color : #cbd5db;
}
.container .row .col-md-8 .card .card-header .rounded-circle .account-img{
    width: 25px;
    height: 25px;
}
.media-body .author {
    display: inline-block;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
  }
  .media-body .metadata {
    display: inline-block;
    margin-left: .5rem;
    color: #777;
    font-size: .8125rem;
  }
  .footer-comment {
    color: #777;
  }
  .vote.plus:hover {
    color: green;
  }
  .postAuthorColor{
      color: limegreen;
  }
  .vote.minus:hover {
    color: red;
  }
  .vote {
    cursor: pointer;
  }
  .comment-reply a {
    color: #777;
  }
  .comment-reply a:hover, .comment-reply a:focus {
    color: #000;
    text-decoration: none;
  }
  .devide {
    padding: 0px 4px;
    font-size: 0.9em;
  }
  .media-text {
    margin-bottom: 0.25rem;
  }
  .title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0,0,0,.87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(34,36,38,.15); 
  }