<!DOCTYPE html>
{% load static %}
{% load app_filters %}
<html lang="en" dir="ltr">
    <head>
        <title>
            Әзілде
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-steel mb-4">
            <a class="navbar-brand" href="{% url 'home' %}">Әзілде</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mx-auto">
                  <li class="nav-item">
                        <a class="nav-link" href="{% url 'home2' %}">Жаңа</a>
                  </li>
                <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Қызықты</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home3' %}">Талқыламалы</a>
                </li>
                <!--<form class="form-inline my-2 my-lg-0" method="GET" action="#">
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
                </ul>
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-success" href="{% url 'post-create' %}">Жаңа пост еңгізу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Сәлем, @{{user.username}}</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>  
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Шығу</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}">Тіркелу</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Кіру</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
          <main role="main" class="container">
              <div class="row">
                  <div class="col-md-8">
                      {% block base_content %}
                      {% endblock %}
                  </div>
                  <div class="col-md-4">
                            {% block base2_content %}
                            {% endblock %}
                      </div>
                    </div>
              </div> 
          </main>
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>      
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
          <script src="{% static 'js/app.js' %}"></script>
    </body>
</html>