{% extends "post/_base.html" %}
{% block base_content %}
{% load app_filters %}
{% load static %}
{% for post in posts %}
<div class="card mb-3">
        <!-- Header -->
        <div class="card-header">
            <h5 class="card-title">
                <a href="{% url 'post_slug_detail' post.slug %}">{{ post.postTitle}}</a>
            </h5>
        </div>
        <!-- Body -->
        <div class="card-body">
          {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Пост суреті">
          {% endif %}
          <p class="card-text">{{ post.postText_html | safe }}</p>
            <small class="text-muted">
                <span class="vote_number">
                {% if post.postUpDown.upVote|add:post.postUpDown.downVote != 0 %}
                    {{post.postUpDown.upVote|add:post.postUpDown.downVote}}
                {% else %}0{% endif %}
                </span>
                     ұпай,
                {% if post.commentOfPost.count > 0 %}
                    {{post.commentOfPost.count}} пікір
                {% else %}
                    0 пікір
                {% endif %}
            </small>
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <div class="float-left">
                <button type="button" id="buttonUpVote" class="upVote-click btn btn-light">
                    <img class="up_img" src="" alt="Ұпай қосу">
                    <input type="hidden" class="upVote" value="1">
                    <input type="hidden" class="downVote" value="0">
                    <input type="hidden" class="post_id" value="{{ post.id }}">
                    <input type="hidden" class="user_id" value="{{ user.id }}">
                </button>
                <button type="button" id="buttonDownVote" class="downVote-click btn btn-light">
                    <img class="down_img" src="" alt="Ұпай алу">
                    <input type="hidden" class="upVote" value="0">
                    <input type="hidden" class="downVote" value="1">
                    <input type="hidden" class="post_id" value="{{ post.id }}">
                    <input type="hidden" class="user_id" value="{{ user.id }}">
                </button>
                <button type="button" class="btn btn-light">
                    <a href="{% url 'post_slug_detail' post.slug %}">
                        <img src="{% static "icons/comment.png" %}" alt="Комментарды көру">
                    </a>
                </button>
            </div> 
            <div class="float-right">{{post.created_date|get_due_date_string}},
                <a href="{% url 'author_profile' post.author.id %}">@{{post.author}}</a>
            </div>  
          </div>
      </div>
{% endfor %}
{% if is_paginated %}
     {% if page_obj.has_previous %}
     <a class="btn btn-outline-info mb-4" href="?page=1">Бірінші</a>
     <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number}}">Алдыңғы</a>
     {% endif %}
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number}}">Келесі</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Соңғы</a>
    {% endif %}
{% endif %}
{% endblock %}
