{% extends "post/__base.html" %}
{% load crispy_forms_tags %}
{% block base3_content %}
<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Постты алып тастау</legend>
                <h4>Шыныменде, "{{object.postTitle}}" постты алып тастагыныз келе ма?</h4>
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-danger" type="submit" value = "Йә, өшір!">
                <a class="btn btn-outline-secondary" href="{% url 'post_slug_detail' object.slug %}">Бас тарту</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}