{% extends "post/__base.html" %}
{% block base3_content %}
{% load app_filters %}
{% load static %}
<div class="card mb-3">
        <!-- Header -->
        <div class="card-header">
            <div class="card-title">
                <h5>
                    {{object.postTitle}}
                    {% if object.author == user %}
                        <a href="{% url 'post-delete' object.id %}"><img style="width: 24px; height: 24px; float: right;" src="{% static "icons/cancel.png" %}"></a>
                        <a href="{% url 'post-update' object.id %}"><img style="width: 24px; height: 24px; float: right;" src="{% static "icons/edit.png" %}"></a>
                    {% endif %}
               </h5>
             </div>
        </div>
        <!-- Body -->
        <div class="card-body">
          {% if object.image %}
            <img class="card-img-top" src="{{ object.image.url }}" alt="Пост суреті">
          {% endif %}
          <p class="card-text">{{ object.postText_html | safe }}</p>
          <!--<a href="#" class="btn btn-primary">Read More &rarr;</a> -->
            <small class="text-muted">
                {% if object.postUpDown.upVote|add:object.postUpDown.downVote != 0 %}
                    {{object.postUpDown.upVote|add:object.postUpDown.downVote}} ұпай,
                {% else %}
                    0 ұпай,
                {% endif %}
                {% if object.commentOfPost.count > 0 %}
                    {{object.commentOfPost.count}} пікір
                {% else %}
                    0 пікір
                {% endif %}
            </small>
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <div class="float-left">
                <button type="button" id="buttonUpVote" class="upVote-click1 btn btn-light">
                    <img class="up_img" src="" alt="Ұпай қосу">
                    <input type="hidden" class="upVote" value="1">
                    <input type="hidden" class="downVote" value="0">
                    <input type="hidden" class="post_id" value="{{ object.id }}">
                    <input type="hidden" class="user_id" value="{{ user.id }}">
                </button>
                <button type="button" id="buttonDownVote" class="downVote-click1 btn btn-light">
                    <img class="down_img" src="" alt="Ұпай алу">
                    <input type="hidden" class="upVote" value="0">
                    <input type="hidden" class="downVote" value="1">
                    <input type="hidden" class="post_id" value="{{ object.id }}">
                    <input type="hidden" class="user_id" value="{{ user.id }}">
                </button>
            </div>
            <div class="float-right">{{object.created_date|get_due_date_string}},
                <a href="{% url 'author_profile' object.author.id %}">@{{object.author}}</a>
            </div>  
          </div>
      </div>
    <div class="card mb-3">
        <div class="card-body">
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'add_comment' object.slug %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Коммент:</label>
                <textarea class="form-control mb-2" placeholder="Комментарий жазыңыз..." name="comment" rows="3"></textarea>
                <input class="btn btn-outline-info d-block ml-auto" type="submit" value = "Бөлісу">
            </div>
        </form>
        {% else %}
            <small class="text-muted">Коммент қосу үшін аккаунтке кіріңіз.
                <a class="ml-2" href="{% url 'login' %}">Кіру</a>
            </small>
        {% endif %}
        </div>
    </div>
    {% if object.commentOfPost.count > 0 %}
	<div class="card mb-3">
	    <div class="card-body">
	        <div class="row">
                {% for comment in object.commentOfPost.all %}
        	    <div class="col-md-2">
        	        <img src="{{ comment.commentAuthor.profile.image.url }}" class="img img-rounded img-fluid"/>
        	        <p class="text-center">{{comment.created_date|get_due_date_string }}</p>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
                    {% if comment.commentAuthor == object.author %}
                        <a class="float-left" style="color: green;" href="{% url 'profile' %}"><strong>@{{comment.commentAuthor}}</strong></a>
                    {% else %}
                        <a class="float-left" href="{% url 'profile' %}"><strong>@{{comment.commentAuthor}}</strong></a>
                    {% endif %}
                    </p>
        	       <div class="clearfix"></div>
        	        <p>{{comment.text}}</p>
        	    </div>
                {% endfor %}
	        </div>
	    </div>
	</div>
    {% endif %}
{% endblock %}
