{% extends "post/__base.html" %}
{% load crispy_forms_tags %}
{% block base3_content %}
<div class="card mb-3">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Постты қосу</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value = "Постты қосу">
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Бас тарту</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}