{% extends "../post/__base.html" %}
{% load crispy_forms_tags %}
{% block base3_content %}
<div class="card">
    <div class="card-body">
        {% if error %}
            {{ error }}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Кіру</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value = "Кіру">
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Аккаунтыңыз жоқ па?
                <a class="ml-1" href="{% url 'register' %}">Тіркелу</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}