{% extends "../post/__base.html" %}
{% block base3_content %}
<div class="card mb-3">
    <div class="card-body">
        <h2>Сайт желісінен шықтыңыз</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">
                Қайтып кіру
                </a>
            </small>
        </div>
    </div>
</div>
{% endblock %}