{% extends "../post/__base.html" %}
{% block base3_content %}
{% load app_filters %}
{% load static %}
{% load crispy_forms_tags %}
<div class="card mb-3">
        <div class="card-body">
            <img class="img img-rounded img-fluid" src="{{ user.profile.image.url }}" style="width: 100px; height: 100px"/>
            <p>Есімі : @{{user.username}}</p>
            <p>Почта: {{user.email}}</p>
            <p>Постдардың саны: {{user.authorOfPosts.count}}</p>
            <p>Комменттардың саны: {{user.authorOfComments.count}}</p>
        </div>
        <!--<form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{u_form|crispy}}
                {{p_form|crispy}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value = "Update">
            </div>
        </form> -->
</div>
{% if user.authorOfPosts.count > 0 %}
<div class="card mb-3">
        <div class="card-header">
            <p class="card-title">
                Қолданушының 10 посты
            </p>
        </div>
</div>
{% for post in user.authorOfPosts.all|slice:":10" %}
<div class="card mb-3">
        <!-- Header -->
        <div class="card-header">
            <h5 class="card-title">
                <a href="{% url 'post_slug_detail' post.slug %}">{{ post.postTitle}}</a>
            </h5>
        </div>
        <!-- Body -->
        <div class="card-body">
          {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
          {% endif %}
          <p class="card-text">{{ post.postText_html | safe }}</p>
          <!--<a href="#" class="btn btn-primary">Read More &rarr;</a> -->
            <small class="text-muted">
                {% if post.upVote|add:post.downVote != 0 %}
                    {{post.upVote|add:post.downVote}} ұпайлар,
                {% else %}
                    0 ұпай,
                {% endif %}
                {% if post.commentOfPost.count > 0 %}
                    {{post.commentOfPost.count}} пікірлер
                {% else %}
                    0 пікір
                {% endif %}
            </small>
        </div>
        <!-- Footer -->
        <div class="card-footer">
            <div class="float-left">
                <button type="button" id="buttonUpVote" class="upVote-click btn btn-light">
                    <img src="{% static "icons/up-arrow.png" %}" alt="My image" style="width: 24px; height: 24px;">
                    <input id="inputUpVote" type="hidden" value="{{post.upVote}}">
                </button>
                <button type="button" id="buttonUpVote" class="downVote-click btn btn-light">
                    <img src="{% static "icons/down-arrow.png" %}" alt="My image" style="width: 24px; height: 24px;">
                    <input id="inputDownVote" type="hidden" value="{{post.downVote}}">
                </button>
                <button type="button" id="buttonComment" class="btn btn-light">
                    <img src="{% static "icons/comment.png" %}" alt="My image" style="width: 24px; height: 24px;">
                </button>
            </div>
            <div class="float-right">{{post.created_date|get_due_date_string}},
                <a href="{% url 'author_profile' post.author.id %}">@{{post.author}}</a>
            </div>
          </div>
      </div>
{% endfor %}
{% else %}
    <div class="card mb-3">
    <div class="card-body">
        <p class="card-text">Пост жоқ</p>
    </div>
    </div>
{% endif %}
{% endblock %}