{% extends "../post/__base.html" %}
{% load crispy_forms_tags %}
{% block base3_content %}
<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Бізге тіркеліңіз</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" value = "Тіркелу">
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Аккаунтыңыз бар ма?
                <a class="ml-1" href="{% url 'login' %}">Кіру</a>
            </small>
        </div>
    </div>
</div>
{% endblock %}